//- HTML
dom-module#register-form
    template
        
      img(src="#{avatar}").avatar
      h1 Hi #{displayName}
      h3 We've pulled in you information from #{provider}, just select a username and you're good to go!
      
      section.required
        label username
        input#username(placeholder='mr.ramone', value='#{username}').ok
      
      section.optional
        h2 Edit Your Info
        input(placeholder='Name', value='#{displayName}')
        input(placeholder='Email')
        
        label Create a password (optional)
        input(placeholder='Password')
        
    
//- CSS
style.
  
  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  h1 { margin-bottom: 10px; }        
  
  register-actions {
    display: block;
    margin-top: 20px;
  }


//- JS
script.
  
  Polymer({
  
    is: "register-form",
    
    listeners: {
      //- 'register-button.tap': 'register',
      //- 'show-register-button.tap': 'showRegister',
      //- 'register-button.tap': 'register',
      //- 'cancel-register-button.tap': 'cancelRegister'
    },
    
    //- LOCKER & LOADED
    ready : function() {
    
      console.log('COOKIES:');
      console.log(document.cookie);
    
      var Socket  = window.socket;
      //- Gabba.Login.init();
      //- this.$.register.toggle(); // show register form
      
      //- Socket.on('user:connected', function( data ) {
      //-   console.log('user connected:');
      //-   console.log(data);
      //- });
      
    },
    
    //- PROCESS LOGIN
    register : function() {
    
      //- var u = this.$.username.value,
          //- e = this.$.email.value,
      var Socket  = window.socket;
          
          console.log('user.register()');
      
      //- this.socket = window.socket = io.connect( server );
      
      //- SEND LOGIN TO SOCKET
      Socket.emit('user:register', {});

    },
    
    //- PROCESS REGISTRATION
    register : function() {
      console.info('register user');
    },
  

  });
